/minissh.import.so
/minissh.import.scm
/minissh.so
/minissh.build.sh
/minissh.install.sh
/minissh.link
/minissh.static.o
/minissh.core.so
/minissh.core.static.o
/minissh.core.import.scm
/minissh.core.link
/minissh.core.import.so
